@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


* {
    box-sizing: border-box;
}

html {
    font-family: 'Indie Flower', cursive;
    font-size: 62.5%;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    height: 100vh;
}

/* SNOW STATION https://i.pinimg.com/originals/fe/7c/2d/fe7c2d993bfe37e4f9afa4cdffe1d570.gif */
/* outside shop https://i.pinimg.com/originals/d2/df/fe/d2dffe9fdd0b8a2df874db23aae6329e.gif */
/* cats looking out window from room https://steamuserimages-a.akamaihd.net/ugc/859486487131530457/65B32CF6DE5AC0F07A4AEC3539FF5BB7E3B093B0/ */
/* inside subway train https://i.pinimg.com/originals/bc/ce/79/bcce794e906e2d709ee751904482c08e.gif */

body{
    background-image: url('https://64.media.tumblr.com/d01cd181bf81abc9ac6fc6f64e854371/291858a8d8307206-b2/s1280x1920/b7b903829cfcb292d026ae1e3fc46c426cc186ca.gifv');
    background-size: cover;
    height: 100%;
    padding:0;
    margin:0;
}

.bigBox {
    border: 8px solid white;
    box-shadow: 2px 2px 4px #000000;
    height: 100vh;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 4px;
    
}

h1 {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Indie Flower', cursive;
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Train One', cursivse; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 8px solid white;
    font-size: 4.5vw;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 4px;
}

.h1TitleBox{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
}
.completed{
    font-family: 'Indie Flower', cursive;
    text-decoration: line-through;
    color: gray;
    border-radius: 4px;
}

.itemsListBox{
    overflow: auto;
    overflow-x: auto;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.5vw;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 8px solid white;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 4px;

}

.numberTracker {
    height: 100px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid white;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 4px;
}
li {
    font-size: 1.8vw;
}

.formAndButton{
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 7%;
    border: 8px solid white;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 4px;
    height: 50px;
    
}

@media (max-width: 600px) {
    .bigBox {
    border: 8px solid white;
    box-shadow: 2px 2px 4px #000000;
    height: 100vh;
    width: 100vw;
    margin: 0%;
}
    h1 {
        margin-top: 20%;
        width: 50%;
    margin-left: 25%;
    margin-right: 25%;
        font-size: 9vw;
        display: flex;
    justify-content: center;
    align-items: center;
    }
    .itemsListBox{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 5vw;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    }

    .formAndButton{
       width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

    .numberTracker{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 6vw;
    }
    
    li {
    font-size: 5vw;
    }
    
}
